$primary: rgba(235, 255, 0, 1);
$secondary: rgba(255, 112, 217, 1);
$text: white;
$bg-primary: black;
$bg-secondary: rgba(48, 69, 113, 1);
$font-family: "Lato", sans-serif;
$breakpoint-medium: 768px;
$breakpoint-large: 1248px;

$max-width: 1088px;
